### 1.Read data

In [1]:
import pandas as pd 
import numpy as np

SA1_file = "E:/GovHack/GovHack2021/data/2033055001 - sa1 indexes.xls"
df_sa1 = pd.read_excel(SA1_file)

xls = pd.ExcelFile(SA1_file)
df = xls.parse('Table 1', skiprows=5, index_col=None, na_values=['NA'])
df = df.replace('-', np.nan)
columns1 = ["SA1_7code", "SA1_11code", 
           "Score_disadvantage", "Decile_disadvantage", 
           "Score_advantage", "Decile_advantage", 
           "Score_economic", "Decile_economic", 
           "Score_occupation", "Decile_occupation",
           "population"]
df.columns = columns1
df.drop(columns=["SA1_11code"], inplace=True)
df.drop(df.tail(2).index, inplace=True)
df = df.set_index("SA1_7code")
df = df.fillna(df.mean())
df.head()

,Score_disadvantage,Decile_disadvantage,Score_advantage,Decile_advantage,Score_economic,Decile_economic,Score_occupation,Decile_occupation,population
SA1_7code,,,,,,,,,
1100701,991.0,4.0,972.0,4.0,1001.0,5.0,984.0,5.0,256.0
1100702,1044.0,7.0,1044.0,7.0,1078.0,8.0,1055.0,7.0,381.0
1100703,980.0,4.0,962.0,4.0,951.0,3.0,1010.0,6.0,428.0
1100704,984.0,4.0,970.0,4.0,986.0,5.0,1026.0,6.0,446.0
1100705,944.0,3.0,936.0,3.0,965.0,4.0,979.0,5.0,402.0

In [38]:
print(len(df[df['Decile_occupation']==5.500009069307649]))
df.loc[df['Decile_occupation']==5.500009069307649, 'Decile_occupation'] = 5.5
print(len(df[df['Decile_occupation']==5.500009069307649]))

9
0

In [39]:
df_norm = pd.get_dummies(df, columns=["Decile_disadvantage","Decile_advantage", "Decile_economic", "Decile_occupation"])
df_norm.head()

,Score_disadvantage,Score_advantage,Score_economic,Score_occupation,population,KMeans,kprototypes,Decile_disadvantage_1.0,Decile_disadvantage_2.0,Decile_disadvantage_3.0,...,Decile_occupation_2.0,Decile_occupation_3.0,Decile_occupation_4.0,Decile_occupation_5.0,Decile_occupation_5.5,Decile_occupation_6.0,Decile_occupation_7.0,Decile_occupation_8.0,Decile_occupation_9.0,Decile_occupation_10.0
SA1_7code,,,,,,,,,,,,,,,,,,,,,
1100701,991.0,972.0,1001.0,984.0,256.0,6,4,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1100702,1044.0,1044.0,1078.0,1055.0,381.0,3,7,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1100703,980.0,962.0,951.0,1010.0,428.0,0,6,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1100704,984.0,970.0,986.0,1026.0,446.0,0,6,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1100705,944.0,936.0,965.0,979.0,402.0,0,6,0,0,1,...,0,0,0,1,0,0,0,0,0,0

### 2.Kmeans

In [40]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
%matplotlib inline
from sklearn import datasets

In [41]:
km = KMeans(n_clusters=10)
km.fit(df_norm)
km.predict(df_norm)
labels = km.labels_

In [42]:
df['KMeans'] = labels.tolist()
df.head()

,Score_disadvantage,Decile_disadvantage,Score_advantage,Decile_advantage,Score_economic,Decile_economic,Score_occupation,Decile_occupation,population,KMeans,kprototypes
SA1_7code,,,,,,,,,,,
1100701,991.0,4.0,972.0,4.0,1001.0,5.0,984.0,5.0,256.0,8,4
1100702,1044.0,7.0,1044.0,7.0,1078.0,8.0,1055.0,7.0,381.0,2,7
1100703,980.0,4.0,962.0,4.0,951.0,3.0,1010.0,6.0,428.0,1,6
1100704,984.0,4.0,970.0,4.0,986.0,5.0,1026.0,6.0,446.0,1,6
1100705,944.0,3.0,936.0,3.0,965.0,4.0,979.0,5.0,402.0,1,6

#### test KMean if need to predict on the fly

In [43]:
import pickle 

with open("./models/Kmeans.pkl", "wb") as f:
    pickle.dump(km, f)
    
with open("./models/Kmeans_Columns.pkl", "wb") as f:
    pickle.dump(list(df_norm.columns), f)

In [44]:
with open("./models/Kmeans.pkl", "rb") as f:
    model = pickle.load(f)
    
with open("./models/Kmeans_Columns.pkl", "rb") as f: 
    columns_lst = pickle.load(f)

In [48]:
# test
df_test = df[df.index.isin([1100703, 1100705])]
df_test_norm = pd.get_dummies(df_test, columns=["Decile_disadvantage","Decile_advantage", "Decile_economic", "Decile_occupation"])
df_test_norm = df_test_norm.reindex(columns=columns_lst, fill_value=0)

In [51]:
model.predict(df_test_norm)

array([1, 1])

In [52]:
df[df.index.isin([1100703, 1100705])]["KMeans"]

SA1_7code
1100703    1
1100705    1
Name: KMeans, dtype: int64

### 3.K-prototypes

In [53]:
from kmodes.kprototypes import KPrototypes

kproto = KPrototypes(n_clusters=10, init='Cao')
clusters = kproto.fit_predict(df, categorical=[1, 3, 5, 7])

df['kprototypes'] = clusters.tolist()
df.head()

### 4.Export result to csv

In [55]:
df.reset_index(drop=False, inplace=True)

In [57]:
df.to_csv("SocioEconomic_Clusting_result.csv")